@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>@ViewData["Message"]</h2>
<p>
    <strong>Author:</strong> <a href=@ViewData["Link"] target="_blank">@ViewData["Author"]</a>
</p>
